// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #939393;

// ----------------------------------------------------------------------------
// Widget-comment styles
// ----------------------------------------------------------------------------
.widget-instadash {
  background-color: $background-color;
  padding: 0 !important;
  margin: 0;
  .photo-container {
    display: block !important;
  }

}
