// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color: #8c8c8c;
// ----------------------------------------------------------------------------
// Widget-comment styles
// ----------------------------------------------------------------------------

.widget-instadash {
  background-color: $background-color;

  .photo-container {
    display: none;
  }
}
